@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap');

section {
  font-family: 'Sometype Mono', monospace, Verdana, Tahoma, sans-serif;
}

@media (360px <= width <= 576px) {
  h2 {
    color: violet;
    font-size: 4vw!important;
  }
}

@media (576.1px <= width <= 768px) {
  h2 {
    color: blue;
    font-size: 3.5vw!important;
  }
}


h2 {
  font-size: 3vw;
}

.fondo {
  background: rgb(59,26,226);
  background: linear-gradient(90deg, rgba(59,26,226,1) 0%, rgba(82,60,195,1) 83%, rgba(67,48,163,1) 100%);
}